


        <ion-view title="Sign In">
            <ion-content padding="true" class="has-header">
                <form>
                    <ion-list>
                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <input type="text" placeholder="enter your email..." ng-model="data.email">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input type="password" placeholder="enter your password..." ng-model="data.password">
                        </label>
                    </ion-list>
                    <button class="button button-stable button-block" ng-click="loginEmail()">Done</button>
                    <div class="spacer" style="height: 40px;"></div>

  <a href = "#/signup" class="button button-positive button-clear button-block">Or create an account</a>
                </form>
            </ion-content>
        </ion-view>
