<ion-view title="ToDos">
  <ion-content padding="true" class="has-header">
    <ion-list >
      <ion-item ng-repeat="todo in todos | filter:{done: false}" class="item item-checkbox">
        <label for="todo{{$index}}" class="checkbox">
          <input id="todo{{$index}}" type="checkbox" ng-change="updateDoneState(todo)" ng-model="todo.done"/>
        </label>
        {{todo.text}}
      </ion-item>
    </ion-list>
    <button onclick="window.location.href='#/newToDo'" class="button button-calm button-block ">Add ToDo</button>

    <div class="spacer" style="height: 40px;"></div>

  <h3 ng-show="todosDone">Completed</h3>
    <ion-list>
      <ion-item ng-repeat="todo in todos | filter:{done: true}" class="item item-checkbox">
        <label for="done{{$index}}" class="checkbox">
          <input id="done{{$index}}" type="checkbox" ng-change="updateDoneState(todo)" ng-model="todo.done"/>
        </label>
        {{todo.text}}
      </ion-item>
    </ion-list>

    <button ng-show="show()" class="button button-light button-block" ng-click="clearCompleted()">Clear completed</button>

</ion-content>
</ion-view>
