<ion-view title="ToDos">
  <ion-content padding="true" class="has-header">

  

    <ion-list show-delete="data.showDelete"  option-buttons="itemButtons">
      <ion-item ng-repeat="item in items" item="item" class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-click="clickItem(item); $event.stopPropagation();" ng-model="item.checked">
        </label>
        Item {{ item.id }}
      </ion-item>
    </ion-list>

    <button href="#/newToDo"  class="button button-calm button-block ">Add ToDo</button>

</ion-content>
</ion-view>
